.row {
    width: auto;
    border: 1px solid blue;
}
.example-full-width {
  width: 100%;
  margin-top: 20px;
}
.tp-container {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.tp-container > * {
   width: 100%;
}
.form-row {
  margin-top: 2rem;
}
